.form-inputs {
  display: flex;
  flex-direction: column;
  width: 270px;
}
.form-label {
 font-size: .8rem;
 color: var(--violet);
}
.form-input {
  padding: 12px;
  margin: 10px 0px;
  outline: none;
  width: 100%;
  border-radius: 7px;
  border: 1px solid var(--base-grey);
}
.form-input[type='number'] {
  appearance: textfield;
}
