---
export interface Props {
  heading?: string;
  text?: string;
  subtext?: string;
  image?: string;
}

const {
  heading = 'Welcome',
  text = 'Lorem ipsum dos solores Res',
  subtext = 'Lorem',
  image = '',
} = Astro.props as Props;
---

<section>
  <div class='header-wrapper'>
    <h1>
      {heading}
    </h1>
    <p>{text}</p>
    <span>
      {subtext}
    </span>
  </div>
  <div class='image-wrapper'><img src={image} alt='' /></div>
</section>

<style>
  section {
    gap: 20px;
    padding: 55px 25px;
    display: flex;
    background-color: var(--base-orange);

    font-family: var(--font_3);
    color: var(--violet);
  }
  .header-wrapper {
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .image-wrapper {
    display: flex;
  }
  .image-wrapper img {
    width: 80%;
  }
  h1 {
    width: fit-content;
    font-size: clamp(2.5rem, 8vw, 5.5rem);
    line-height: 46px;
    color: var(--base-white);
    letter-spacing: -1.5px;
  }
  p {
    margin-top: 5px;
    line-height: 23px;
    font-weight: 400;
    color: var(--violet);
    font-style: italic;
  }
  span {
    margin-top: 3px;
    opacity: .8;
    font-family: var(--font_3);
    font-size: .7rem;
  }
</style>
