---

---

<section class='brands-section' id="brands">
  <div class='brands-titles'>
    <h3 class='subheader'>ZuoWspółpraca</h3>
    <h2 class='header'>Jest Zaufanie? Jest Współpaca</h2>
  </div>
  <div class='brands-container'>
    <div class='brand-wrapper'>
      <div class='brand'>
        <img class='brand-icon' src='/bmw.jpg' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/audi.jpg' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/aviva.png' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/canal.png' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/eurotel.png' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/menrad.png' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/metlife.png' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/oriflame.jpg' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/pepsi.png' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/volswagen.jpg' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/renault.png' alt='bmw-icon' />
      </div>
      <div class='brand'>
        <img class='brand-icon' src='/warta.png' alt='bmw-icon' />
      </div>
    </div>
  </div>
  <p class='contact-info'>Jesteś zainteresowany?</p>
  <p class='contact-info'>
    Skontaktuj się ze mną i zamów testową, bezpłatną 20 minutową wideo -
    konsultację !!
  </p>
  <a href='#contact' class='contact-link'>Kontakt</a>
</section>

<style>
  .brands-section {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 65px 25px;
    background-image: linear-gradient(to top, #151220 0%, #2a233e 100%);
    /* background-color: var(--violet); */
    /* height: 400px; */
  }
  .header {
    color: var(--base-orange);
    font-family: var(--font_3);
    font-size: clamp(2rem, 3vw, 3rem);
    letter-spacing: -1.5px;
    line-height: 46px;
    margin-top: 35px;
    font-weight: 900;
    padding-bottom: 40px;
  }
  .subheader {
    opacity: .9;
    margin-top: 60px;
    color: var(--base-white);
    padding-bottom: 4px;
    max-width: 200px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--base-white);
    font-weight: 300;
    font-family: var(--font_3);
  }
  .brands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* pointer-events: none; */
  }
  .brand-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2);
  }
  .brand {
    position: relative;
    width: 150px;
    /* border-radius: 7px; */
    flex-grow: 1;
    min-width: 30%;
    height: 150px;
    background-color: white;
  }
  .brand-icon {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 50%;
  }
  .contact-info {
    color: var(--base-white);
    font-weight: 300;
    font-size: clamp(1.3rem, 2vw, 3rem);
    line-height: normal;
    letter-spacing: 1px;
    font-family: var(--font_3);
  }
  .contact-link {
    width: fit-content;
    text-decoration: none;
    align-items: center;
    margin: 30px 0 25px 0;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--base-white);
    padding: 10px 80px;
    /* border: 1px solid var(--dark-violet); */
    border-radius: 19px;
    margin-bottom: 20px;
    font-family: var(--second-font);
    transition: 0.2s all ease-in;
    background-color: var(--base-orange);
  }
  .contact-link:hover {
    outline: 1px solid var(--base-white);
  }
  @media (min-width: 900px) {
    .header {
      text-align: center;
      margin-bottom: 40px;
    }
    .subheader {
      text-align: center;
      width: 100%;
      margin: 40px auto;
      font-size: 2rem;
      max-width: 400px;
    }
    .brand {
      min-width: 15%;
      transition: .3s transform ease;
    }
    .brand:hover {
      transform: scale(1.1);
    }
    .brand-wrapper {
      max-width: 1240px;
      gap: 20px;
    }
    .contact-info {
      text-align: center;
      max-width: 900px;
      margin: auto;
    }
    .contact-link {
      margin: auto;
      margin-top: 40px;
      font-size: 2rem;
    }
  }
</style>
