*,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    font-size: 16px;
    background-image: linear-gradient(to top, #151220 0%, #2a233e 100%);
    background-repeat: no-repeat;
    /* main colors */
    --base-orange: hsl(22, 100%, 60%);
    --base-white: hsl(0, 0%, 100%);
    --base-grey: hsl(0, 7%, 76%);
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --fancy-font: 'Montez', cursive;
  }
  html {
    min-height: 100vh;
  }
  body {
  }