*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  background-image: linear-gradient(to top, #151220 0%, #2a233e 100%);
  background-repeat: no-repeat;
  /* main colors */
  --dark-violet: #151221;
  --light-violet: #524577;
  --violet: #2a233e;
  --base-orange: #ff7e33;
  --base-white: hsl(0, 0%, 100%);
  --base-grey: hsl(0, 7%, 76%);
  /* fonts */
  --font-roboto: 'Roboto', sans-serif;
  --second-font: 'Montserrat', sans-serif;
  --font_3: 'Merriweather', serif;
  --fancy-font: 'Montez', cursive;
}
html {
  min-height: 100vh;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
