---
import SectionTitles from '../../layouts/mini-layouts/SectionTitles.astro';
---

<section class='about' id='about'>
  <SectionTitles
    titleSmall='O SamoZUO'
    titleBig='Przeczytaj to lepiej mnie poznasz'
  />
  <div class='image-wrapper'>
    <img class='image' src='/m_m5.png' alt='man' />
  </div>
  <div class='text-wrapper'>
    <p class='quote'>
      "The way you teach is more important than what you are teaching"
    </p>
    <p class='text'>
      Jestem SamoZUO marketingu i sprzedaży B2B. Nie jestem agencją
      marketingową. Nie jestem firmą reklamową - jakie pewnie znasz i z jakimi
      się zetknąłeś
    </p>
    <p class='text'>
      Moim klientom robię dobrze bo…dowożę im wyniki i pomagam ogarniać ich
      firmę za hajs i cuba librę – ale zawsze dla nich i dla mnie.
    </p>
  </div>
  <a href='/about' class='button-link'>Czytaj dalej</a>
  <div class='social-wrapper'>
    <a
      href='https://www.linkedin.com/in/coachsamozuo-maciek-aloha-marketing-0739a924a/'
      class='social-icon'
      aria-label='Link to linkedin'><i class='fa-brands fa-linkedin-in'></i></a
    >
    <a
      href='https://www.facebook.com/doradcaCoachconsultant'
      class='social-icon'
      aria-label='Link to Facebook'><i class='fa-brands fa-facebook-f'></i></a
    >
    <a
      href='https://www.tiktok.com/@maciekmartowicz'
      class='social-icon'
      aria-label='Link to tik-tok'><i class='fa-brands fa-tiktok'></i></a
    >
  </div>
</section>

<style>
  .about {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 65px 25px;
    background-color: var(--base-white);
  }
  .image-wrapper {
    max-width: 100vw;
  }
  .image {
    border-radius: 7px;
    width: 100%;
  }
  .quote {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: var(--font_3);
    font-style: italic;
    letter-spacing: -1px;
    font-size: 1.4rem;
    opacity: 0.4;
    /* text-align: center; */
    color: var(--light-violet);
  }
  .text {
    letter-spacing: 0.8px;
    line-height: 2rem;
    font-family: var(--second-font);
    margin: 20px 0;
    font-weight: 500;
    color: var(--violet);
  }
  .button-link {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark-violet);
    padding: 10px 60px;
    /* border: 1px solid var(--dark-violet); */
    outline: 1px solid var(--dark-violet);
    border-radius: 19px;
    font-family: var(--second-font);
    transition: 0.2s all ease-in;
  }
  .button-link:hover {
    color: var(--base-white);
    outline: transparent;
    background-color: var(--base-orange);
  }
  .social-wrapper {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .social-icon {
    position: relative;
    font-size: 1rem;
    padding: 19px;
    border-radius: 50%;
    background-color: var(--base-orange);
    transition: 0.3s background-color ease;
  }
  .social-icon:hover {
    background-color: var(--light-violet);
  }
  .fa-brands {
    position: absolute;
    padding: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--base-white);
  }
</style>
