.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
.logo-container {
  max-width: 320px;
  padding: 10px;
}
.nav-links-mobile {
  display: flex;
  gap: 55px;
  align-items: center;
  font-family: var(--second-font);
}
.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background: rgba(190, 183, 196, 0.986);
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */
  background-image: linear-gradient(to top, #151220 10%, #2a233e 100%);
  justify-content: center;
  align-items: center;
  font-family: var(--second-font);
  gap: 60px;
  flex-direction: column;
  z-index: 9;
}
.aloha-logo-container {
  margin: 5px auto 0px;
  width: 50px;
}
.aloha-logo-container img {
  width: 100%;
  object-fit: contain;
}
.contact-wrapper {
  display: flex;
  margin-left: auto;
}
.contact-icon {
  padding: 2.5px;
}
.fa-solid {
  margin: 7px;
  color: var(--base-orange);
}
.link, .link-mobile {
  font-family: var(--second-font);
  text-decoration: none;
  color: var(--base-white);
  font-size: 1rem;
}
.link-mobile {
  color: var(--base-orange);
}
.heading,
.span_hash {
  text-align: left;
  font-family: var(--main-font);
}
.heading {
  color: var(--base-white);
  font-family: var(--font_3);
  font-weight: 700;
  font-size: clamp(1.3rem, 3vw, 2.3rem);
}
.subheading {
  text-align: center;
  color: var(--base-orange);
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: clamp(1.1rem, 2.5vw, 2rem);
  line-height: 1rem;
  font-style: italic;
  letter-spacing: 1px;
}

.span_hash {
  font-size: clamp(1.5rem, 3vw, 2.3rem);
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 7px;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}
.burger-line:nth-child(1) {
  background: var(--base-white);
  width: 34px;
  height: 1px;
  display: block;
}
.burger-line:nth-child(2) {
  background: var(--base-white);
  width: 32px;
  height: 1px;
  display: block;
}
.burger-line:nth-child(3) {
  background: #ffffff;
  width: 30px;
  height: 1px;
  display: block;
}

@media (max-width: 350px) {
  .heading {
    font-size: .9rem;
  };
  .subheading {
    font-size: 0.6rem;
  }
}
@media (max-width: 315px) {
  .nav-container {
    justify-content: center;
  }
  .hamburger {
    padding: 0;
  }
}