---
import Layout from '../layouts/Layout.astro';
import AllSubpageHeader from '../layouts/mini-layouts/AllSubpageHeader.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import handIcon from '../assets/hand2-white-icon.png';
import PostList from '../components/PostList.astro';

const posts = await getCollection('posts');
---

<Layout title='#Blog'>
  <AllSubpageHeader
    heading='#Blog'
    subtext=''
    text='Coach Same Zuo i jego złote myśli'
    image='/blog3-icon.svg'
  />

  <div id="#interviews" class='interview-wrapper'>
    <span>|</span>
    <a href=''>Wywiady z Samo Zuo</a>
    <Image class='interview-img' src={handIcon} alt="hand-icon">
  </div>
  <section class='blog-section'>
    <PostList posts={posts} />
  </section>
</Layout>

<style>
  .blog-section {
    background-color: var(--base-white);
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  .interview-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 0px 5px 0px;
    font-family: var(--font_3);
    background-color: var(--base-orange);
  }
  .interview-wrapper a {
    color: var(--base-white);
    font-size: 1.1rem;
    text-decoration: underline;
  }
  .interview-img {
    margin-left: 6px;
    margin-bottom: 10px;
    width: 30px;
    height: auto;
    object-fit: contain;
    animation: animate 3s linear infinite forwards; 
  }
  span {
    padding-left: 25px;
    color: var(--base-white);
  }

  @keyframes animate {
    0% {
        transform: rotate(-35deg);
    }
    25% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    75% {
        transform: rotate(35deg);
    }
    100% {
        transform: rotate(-35deg);
    }
  }
</style>
