---
import Layout from '../layouts/Layout.astro';
import AllSubpageHeader from '../layouts/mini-layouts/AllSubpageHeader.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import handIcon from '../assets/hand2-white-icon.png';
import camera from '../assets/camera-white.png';
import PostList from '../components/PostList.astro';

const posts = await getCollection('posts');
---

<Layout title='#Blog'>
  <AllSubpageHeader
    heading='#Blog'
    subtext=''
    text='Coach Same Zuo i jego złote myśli'
    image='/blog3-icon.svg'
  />

  <div id="#interviews" class='interview-wrapper'>
    <span class="span-line">|</span>
    <a href='#interviews'>Wywiady z Samo Zuo</a>
      <Image class='interview-img' src={handIcon} alt="hand-icon">
  </div>
  <article class='blog-section'>
    <PostList posts={posts} />
  </article>

  <div class="inter-section">
    <div class="inter-header">
        <Image class='inter-image' src={camera} alt='camera-icon'/>
            <h2 id="interviews">ZUOWywiady</h2>
    </div>
    <div class="inter-links">
      <a class="inter-link" href="https://www.youtube.com/watch?v=kDhtDT_hN8M"><span> 1. W służbie sprzedaży</span> - Wywiad z Coachem SamoZuo przeprowadza Patryk Jasiński</a>
      <a class="inter-link" href="https://www.youtube.com/watch?v=TKaxij_tFoI"><span>2. Strategia marketingu i sprzedaż na LinkedIn i Facebook'u</span> - Maciej Martowicz | BFI Talks</a>
      <a class="inter-link" href="https://www.youtube.com/watch?v=sRzD6jriDJo&t=92s"><span>3. Na marce WŁASNEJ 1 MLN PLN w rok z LinkedIn</span> - CoachSamoZuo | Maciej Martowicz</a>
    </div>
  </div>
</Layout>

<style>
  .blog-section {
    background-color: var(--base-white);
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  .interview-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 0px 5px 0px;
    font-family: var(--font_3);
    background-color: var(--base-orange);
  }
  .interview-wrapper a {
    color: var(--base-white);
    font-size: 1.1rem;
    text-decoration: underline;
  }
  .interview-img {
    margin-left: 6px;
    margin-bottom: 10px;
    width: 30px;
    height: auto;
    object-fit: contain;
    animation: animate 3s linear infinite forwards; 
  }
  .span-line {
    padding-left: 25px;
    color: var(--base-white);
  }
  .inter-section {
    display: flex;
    flex-direction: column;
    background-color: var(--base-grey);
    position: relative;
    padding: 25px 25px 45px 25px;
    /* background-image: url('../assets/m_art.png'); */
    background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/m_art.png");
    background-position: center;
    background-size: cover;
    color: var(--violet);
  }
  .inter-section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(63, 38, 6, 0.25);
  }
  .inter-header {
    padding: 25px 0 0px 0;
    display: flex;
    z-index: 10;
  }
  .inter-image {
    max-width: 10%;
    object-fit: contain;
    height: auto;
  }
  .inter-links {
    margin-top: 20px;
    background-color: var(--base-white);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 10;
  }
  .inter-link {
    margin: 20px;
    color: var(--violet);
    font-size: 1rem;
  }
h2 {
  font-size: clamp(2rem, 3vw, 4rem);
  line-height: 46px;
  font-family: var(--font_3);
  color: var(--base-white);
  display: flex;
  align-self: center;
  margin-left: 3px;
  letter-spacing: -1.5px;
}
span{
  color: var(--base-orange);
  padding-left: 0;
}
  @keyframes animate {
    0% {
        transform: rotate(-35deg);
    }
    25% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    75% {
        transform: rotate(35deg);
    }
    100% {
        transform: rotate(-35deg);
    }
  }
</style>
