---
import Layout from '../layouts/Layout.astro';
import AllSubpageHeader from '../layouts/mini-layouts/AllSubpageHeader.astro';
import BlogPosts from '../components/BlogPosts.astro';
---

<Layout title='#Blog'>
    <AllSubpageHeader heading='#Blog'/>
    <section>
        <BlogPosts />
    </section>
</Layout>

<style>
    
</style>