---
import Layout from '../layouts/Layout.astro';
import AllSubpageHeader from '../layouts/mini-layouts/AllSubpageHeader.astro';
---

<Layout title='#activities'>
    <section id="offers">
        <AllSubpageHeader heading='#Działalność' image='/cooperate.svg'/>
    </section>

</Layout>

<style>
</style>