---
// const postsData = [
//   {
//     image: '/blog-image1.webp',
//     title: 'To jest tytuł do wstępu do mojego pierwszego bloga - zapraszam',
//     author: 'Maciej Martowicz',
//     date: '25-09-2023r.',
//     href: '/',
//   },
//   {
//     image: '/about4.png',
//     title: 'To jest tytuł do wstępu do mojego druiego bloga - zapraszam',
//     author: 'Maciej Martowicz',
//     date: '27-09-2023r.',
//     href: '/',
//   },
// ];
---

{
  (
    <div class='card'>
      <slot />
    </div>
  )
}

<style>
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: var(--dark-violet);
    font-family: var(--font_3);
  }
</style>
