---
import SwiperModule from "./SwiperModule";
---


<section>
    <h1>Co o mnie mówią "na mieście"</h1>
    <SwiperModule client:load/>
</section>


<style>
    section {
        /* height: 300px; */
        background-color: yellow;
    }
    h1 {
        padding: 25px;
    }
</style>