---
import SwiperModule from './SwiperModule';
---

<section>
  <h1 class='header'>Co o mnie mówią "na mieście?"</h1>
  <SwiperModule client:load />
</section>

<style>
  section {
    padding: 25px;
    background-color: rgb(229, 227, 233);
  }
  .header {
    color: var(--violet);
    font-family: var(--font_3);
    font-size: clamp(2rem, 3vw, 3rem);
    letter-spacing: -.5px;
    text-align: center;
    line-height: 46px;
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 20px;
  }
</style>
