---

---

<div class='contact-section' id='contact'>
  <div class='wrapper'>
    <h2 class='contact-header'>Kontakt</h2>
    <p class='contact-text'>Tam mnie znajdziesz!</p>
    <div class='social-icons'>
      <a
        href='https://www.instagram.com/stowidokow.home/'
        class='icon-link'
        aria-label='Link to tik-tok'
      >
        <i class='fa-brands fa-tiktok fa-2x'></i>
      </a>
      <a
        href='mailto:stowidokow.home@gmail.com'
        class='icon-link'
        aria-label='Link to linkedin'
      >
        <i class='fa-brands fa-linkedin-in fa-2x'></i>
      </a>
      <a
        href='https://www.facebook.com/profile.php?id=100092087125172'
        class='icon-link'
        aria-label='Link to Facebook'
      >
        <i class='fa-brands fa-facebook-f fa-2x'></i>
      </a>
    </div>
  </div>
  <div class='shortcuts'>
    <h3>Na skróty:</h3>
    <a class='shortcuts-links' href='/about'> O mnie</a>
    <a class='shortcuts-links' href='/portfolio'> Portfolio</a>
    <a class='shortcuts-links' href='/blog'> Blog</a>
    <a
      class='shortcuts-links'
      href='/private-policy'
      aria-label='Link to policy'
    >
      Polityka prywatności
    </a>
    <a href='/'>
      <p class='logo-header'>
        <span class='span_hash'>#</span>CoachSamoZuo
      </p>
      <p class='logo-subheader'>Make's a difference</p>
    </a>
  </div>
</div>

<style>
  .contact-section {
    background-image: linear-gradient(to top, #151220 0%, #2a233e 100%);
    padding: 25px;
    background-color: var(--black);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--base-grey);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;
  }
  .contact-header {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-family: var(--font_3);
    text-align: center;
    letter-spacing: 5px;
    margin: auto;
    margin-top: 80px;
  }
  .contact-text {
    margin-top: 30px;
    font-size: 1.3rem;
  }
  .social-icons {
    margin-top: 30px;
  }
  .icon-link {
    text-decoration: none;
    color: var(--base-orange);
    padding: 3px;
    margin: 0 13px 0 13px;
  }
  .icon-link:hover {
    color: var(--white);
  }
  .contact-logo__link {
    margin-top: 30px;
    width: 50%;
  }
  .contact-logo {
    width: 100%;
  }
  .shortcuts {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .shortcuts-links {
    text-decoration: none;
    margin: 10px;
    color: var(--base-grey);
    transition: 0.3s all ease;
  }
  .shortcuts-links:hover {
    color: var(--white);
  }
  .logo-header,
  .span_hash {
    font-family: var(--main-font);
  }
  .logo-header {
    margin-top: 20px;
    color: var(--base-white);
    font-family: var(--font_3);
    font-weight: 700;
    font-size: clamp(1.6rem, 3vw, 2.3rem);
  }
  .logo-subheader {
    color: var(--base-orange);
    font-family: var(--fancy-font);
    font-weight: 300;
    text-align: center;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    line-height: 1rem;
    font-style: italic;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }
  .span_hash {
    color: var(--base-orange);
    font-size: clamp(1.5rem, 3vw, 2.3rem);
  }
</style>
