---
export interface Props {
  heading?: string;
}

const { heading = 'Aloha!' } = Astro.props as Props;
---

<section class='intro'>
  <h1 class='header'>{heading}</h1>
  <div class='img-container'>
    <!-- <img class='image' src='./src/images/maciej_1.png' alt='man' /> -->
    <img class='image' src='./src/images/m_m_1_mobile.png' alt='man' />
  </div>
  <h2 class='subheader'>
    <span>Co robi na codzień</span><span> #</span>CoachSamoZło?
  </h2>
  <p class='text'>
    Zajmuję się projektowaniem <span>strategii MARKETINGOWYCH</span> , <span>
      strategii BRANDINGOWYCH
    </span> ( strategii marki ) oraz <span>strategii SPRZEDAŻOWYCH</span> dla
    firm i biznesu B2B, B2B2C i B2C.
  </p>
  <a href='/' class='button-link'>Sprawdź</a>
  
</section>

<style>
  .header {
    margin-top: 80px;
    text-align: center;
    font-size: 6rem;
    color: var(--base-orange);
    font-family: var(--fancy-font);
  }
  .subheader {
    text-transform: uppercase;
    margin-top: 45px;
    text-align: center;
    padding: 15px 25px;
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-family: var(--main-font);
    color: var(--base-white);
    font-weight: 500;
  }
  .text {
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    font-size: 1rem;
    color: var(--base-white);
    letter-spacing: 1px;
    line-height: 2rem;
    padding-inline: 25px;
    text-align: center;
    font-family: var(--second-font);
  }
  span {
    color: var(--base-orange);
  }
  .img-container {
    position: relative;
    width: 250px;
    height: 248px;
    background-color: transparent;
    /* background-color: var(--base-orange); */
    border: 2px solid var(--base-white);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 300px;
    top: -55px;
    object-fit: fill;
  }
  .button-link {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 25px auto;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--base-white);
    padding: 15px 50px;
    border: 1px solid var(--base-white);
    background: var(--base-orange);
    border-radius: 7px;
    font-family: var(--second-font);
    text-transform: uppercase;
  }
</style>
