---

---

<section class='intro'>
  <h1 class='header'>Aloha!</h1>
  <div class='img-container'>
    <!-- <img class='image' src='./src/images/maciej_1.png' alt='man' /> -->
    <img class='image' src='./src/images/m_m_2_mobile.png' alt='man' />
  </div>
  <h2 class='subheader'>
    <span>Maciej Martowicz</span><span> #</span>CoachSamoZuo
  </h2>
  <!-- about me section? -->
  <h3 class='text-header'>Co robię na codzień?</h3>
  <p class='text'>
    Zajmuję się projektowaniem <span>strategii MARKETINGOWYCH</span> , <span>
      strategii BRANDINGOWYCH
    </span> ( strategii marki ) oraz <span>strategii SPRZEDAŻOWYCH</span> dla
    firm i biznesu B2B, B2B2C i B2C.
  </p>
  <p class='text'>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis ipsum
    nisi soluta nostrum accusamus labore nam temporibus! Cupiditate laboriosam
    veniam quo unde inventore tenetur vel asperiores amet officia.
    Necessitatibus, cumque.
  </p>
  <a href='/' class='button-link'>Sprawdź</a>
</section>

<style>
  .header {
    margin-top: 80px;
    text-align: center;
    font-size: 6rem;
    color: var(--base-orange);
    font-family: var(--fancy-font);
  }
  .subheader {
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
    padding: 15px 25px;
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-family: var(--main-font);
    color: var(--base-white);
    font-weight: 500;
  }
  .text-header {
    text-align: center;
    font-family: var(--main-font);
    font-weight: 500;
    margin-top: 70px;
    font-size: 2rem;
    color: var(--base-white);
  }
  .text {
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
    font-size: 1rem;
    color: var(--base-grey);
    letter-spacing: 1px;
    line-height: 2.3rem;
    padding-inline: 25px;
    text-align: center;
    font-family: var(--second-font);
  }
  span {
    color: var(--base-orange);
  }
  .img-container {
    margin: 0px auto 0 auto;
    width: 220px;
  }
  .image {
    width: 100%;
  }
  .button-link {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 25px auto;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--base-white);
    padding: 10px 50px;
    border: 1px solid var(--base-white);
    border-radius: 19px;
    font-family: var(--second-font);
    /* text-transform: uppercase; */
    transition: 0.2s all ease-in;
  }
  .button-link:hover {
    border: transparent;
    background-color: var(--base-orange);
  }
</style>
