---
import SectionTitles from '../layouts/mini-layouts/SectionTitles.astro';
---

<section class='offer' id="offer">
  <SectionTitles
    titleSmall='Działalność'
    titleBig='Zobacz w czym mogę Ci pomóc'
  />
</section>

<style>
  .offer {
    padding: 25px;
    background-color: var(--base-white);
  }
</style>
