---
import IntroDailyWork from '../Intro/IntroDailyWork';
---

<section class='intro-section'>
  <h1 class='header'>Aloha!</h1>
  <div class='img-container'>
    <img class='image' src='/m_m_2_mobile.png' alt='man' />
  </div>
  <div class='subheader'>
    <h2 class="subheader-coach"> #Coach Samo Zuo</h2>
    <p class='subheader-name'>Maciej Martowicz</p>
  </div>
  <!-- about me section? -->
  <IntroDailyWork client:load />
  <a href='#offer' class='button-link'>Sprawdź</a>
</section>

<style>
  .intro-section {
    background-image: linear-gradient(to top, #151220 0%, #2a233e 100%);
    padding: 25px;
  }
  .header {
    margin-top: 80px;
    text-align: center;
    font-size: 6rem;
    color: var(--base-orange);
    font-family: var(--fancy-font);
  }
  .subheader {
    margin-top: 15px;
    text-align: center;
    padding: 15px 0px;
    font-family: var(--font_3);
    color: var(--base-white);
    
    
  }
.subheader-coach {
  font-weight: 900;
  letter-spacing: -.5px;
}
  .subheader-name {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--base-orange);
    font-size: clamp(.8rem, 2vw, 2.5rem);
  }

  .img-container {
    margin: 0px auto 0 auto;
    width: 220px;
  }
  .image {
    width: 100%;
  }
  .button-link {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--base-white);
    padding: 10px 80px;
    border: 1px solid var(--base-white);
    border-radius: 19px;
    font-family: var(--second-font);
    transition: 0.2s all ease-in;
  }
  .button-link:hover {
    border: transparent;
    background-color: var(--base-orange);
  }

  @media (min-width: 350px) {
    .subheader {
      font-size: clamp(1.5rem, 3vw, 4rem);
    }
  }
</style>
